@import "/src/presentation/styles/colors.module";

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    flex-grow: 1;
  }

  label {
    position: absolute;
    font-size: 0.75rem;
    background: $white;
    color: $disabled-background-contrast-text;
    padding: 2px 4px;
    top: -8px;
    left: 6px;
  }

  .status {
    position: absolute;
    right: 8px;
    font-size: 0.75rem;
    cursor: help;
  }
}