$white: #FFF;
$black: #000;
$background: #F2F2F2;
$disabled-background: #CCC;
$disabled-background-contrast-text: #656565;
$primary: #880E4F;
$primary-dark: #560027;
$primary-light: #BC477B;
$primary-contrast-text: $white;